/* Styling untuk top header */
 .top-header {
  display: flex;
  justify-content: space-between; /* Pisahkan judul dan search bar */
  align-items: center; /* Pusatkan elemen secara vertikal */
  margin: 20px 0; /* Tambahkan jarak vertikal */
  padding: 0 20px; /* Tambahkan padding di kiri dan kanan */
}

 .page-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0; /* Hilangkan margin default */
}


.home-page .news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  width: 100%;
  max-width: 98%; 
  margin: 0 auto; 
}

.home-page .news-card {
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr auto; 
  gap: 10px; 
  height: 100%; 
}

.home-page .news-card .card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}


.home-page .news-card h2 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
  text-align: left; 
}


.home-page .news-card p {
  font-size: 14px;
  color: #666;
  margin: 0; 
  line-height: 1.5;
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.home-page .read-more-home {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.home-page .read-more-home:hover {
  background-color: #0056b3;
}

.home-page .save-article {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.home-page .save-article:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .home-page .news-cards {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .home-page .news-cards {
    grid-template-columns: 1fr; 
  }
}
