/* General Styles */
body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  clear: both;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center; /* Pusatkan elemen secara vertikal */
  margin-left: auto; /* Taruh search bar di sebelah kanan */
  margin-right: 20px; /* Jarak dengan tepi navbar */
  margin-top: 10px; /* Tambahkan jarak ke atas */
  max-width: 400px; /* Batas lebar maksimal */
  width: 100%; /* Buat fleksibel */
}


.search-bar input {
  flex-grow: 1; /* Buat input mengisi ruang yang tersedia */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Round corner kiri */
  font-size: 14px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0; /* Round corner kanan */
  cursor: pointer;
  font-size: 14px;
}

.search-bar button:hover {
  background-color: #0056b3;
}


/* Loading & Error */
.loading, .error {
  color: red;
  font-size: 16px;
  margin: 20px;
}

.search-results {
  margin: 50px; /* Jarak dari semua sisi */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Jarak antar kartu */
  margin-bottom: 30px;
}

.news-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-image {
  width: 100%; /* Gunakan lebar penuh dari elemen kartu */
  height: 200px; /* Tetapkan tinggi tetap untuk konsistensi */
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover; /* Pastikan gambar di-crop agar sesuai dengan dimensinya */
}


.read-more {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #555;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.bookmark-icon {
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.bookmark-icon:hover {
  transform: scale(1.2); /* Slight zoom effect */
  color: green; /* Color change on hover */
}
